  .container{
    width: 600px;
    margin: auto;
    border: thin solid black;   
    padding: 25px;
   }

   .nav {
     display: flex;
     justify-content: space-around;
     font-size:  24px;
    }

.grid {
   
  grid-template-columns: 100px 1fr;
  grid-template-columns: [linename] 100px;
  grid-template-columns: [linename1] 100px [linename2 linename3];
  grid-template-columns: minmax(100px, 1fr);
  grid-template-columns: fit-content(40%);
  grid-template-columns: repeat(3, 200px);
    }

.grid img {
     

}

    }
